#heading{
    color:cadetblue;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    margin: 5px;
    padding: 5px;
    align-self: center;
    font-size: 18px;
}

/* .logo-container{
    width: 150px;
}  */

.logo{
    width: 100px;
}

.cart{
    width: 40px;
}

/* .body{
    border: 1px solid red;
} */

.res-container, .shimmerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.shimmerContainer{
    padding: 40px;
}

.card{
    width: 17%;
    min-width: 220px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.shimmercard{
    width: 17%;
    min-width: 220px;
    padding: 5px;
    text-align: center;
    background-color: #f0f0f0f0;
    height: 400px;
}

.card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-img{
    border-radius: 4px;
    width: 100%;
}

.top-btn{
    margin: 5px;
    padding: 2px;
}

.filter{
    display: flex;
}